.display{
  width:98%;
  height:70px;
  border:none;
  border-radius:10px;
  background:#eef3ff;
  font-size:30px;
  text-align:right;
  padding-right:15px;
  box-sizing:border-box;
  margin: 20px 4px 20px 5px;
}